$font-size-main: 14px;
 


//Цвета:
$color-blue: #1877f2;
$color-blue-hover: #1366d1;
$color-red: #e34757;
$colot-grey: #acb6c4;
$color-background-main: #fafbfc;
$color-background-header: #f1f1f1;
$color-grey-hover: #f4f5f8;
$color-font: #274266;
$color-font-light: #acb6c4;

//Адаптив:
$laptop-xxl: 1400px;
$laptop-xl: 1200px;
$laptop-lg: 960px;
$laptop-md: 720px;
$laptop-sm: 540px;

//Block
$border-radius: 0.8rem;
$width-sidebar: 19rem;

//IconUser
$size-icon: 2.5rem;


//Отступы
$padding-page: 1rem;
$padding-box: 0.8rem 1.4rem;
$padding-button: 0.5rem 1.1rem;

$md-padding-page: 10px;
$md-padding-button: 8px 17px;


//Loading
$size-loader: 12px;