@import "../../../assets/scss/variables.scss";

$size: 1;

.back_loader{
  position: fixed;
  z-index: 1000;
  backdrop-filter: blur(6px); // This be the blur
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  .loader {
    position: relative;
    margin-top: 30vh;
  }
}


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 3.0em * $size;
  height: 3.0em * $size;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  margin: -25px auto 40px auto;
  color: $color-blue;;
  font-size: $size-loader;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -4.5em * $size;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 4.5em * $size;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 3.0em * $size 0 -1.3em;
  }
  40% {
    box-shadow: 0 3.0em * $size 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 3.0em * $size 0 -1.3em;
  }
  40% {
    box-shadow: 0 3.0em * $size 0 0;
  }
}
