@import "./assets/scss/variables.scss";
@import "./assets/scss/theme.scss";


body {
  background: var(--background-color);
  // color: var(--text-color);
}


html, body {
  margin: 0;
  font-family: "Mulish", Consolas, sans-serif;
  font-size: $font-size-main;
  color: var(--text-color);
}
textarea, select{
  font-family: "Mulish", Consolas, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

.main{
  margin-top: calc(1.6rem + 35px);
  padding: $padding-page;
  background-color: var(--color-background-main);
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.contant{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px
}

.box{
  flex: 1;
  background-color: var(--background-color);
  border-radius: $border-radius;
  box-shadow: 0 0 25px 10px rgba(0,0,0,0.05);
  padding: $padding-box;
}



@media screen and (max-width: $laptop-md) {
  .main {
      flex-direction: row-reverse;
      padding: $padding-page $padding-page-w-md;
      gap: 0px;
  }
  .contant{
    gap: 15px
  }
}

@media screen and (max-width: $laptop-sm) {
  .box{
    padding: $padding-box-sm;
  }
}